extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  h2 Top 10 IMDb Rating
  ul
    each movie in recentRelease         
      li: a(href=`/movies/${movie.id}`)
        img(src=movie.image)
      p= `${movie.title} (${movie.imDbRating})` 
  h2 Editor Pick 
  ul 
    each movie in editorPick 
      li: a(href=`/movies/${movie.id}`)  
        img(src=movie.image)
      p= `${movie.title} (${movie.imDbRating})`
  
  footer
    ul 
      li: a(href='https://github.com/Amlovern') Anthony Lovern 
      li: a(href='https://github.com/ellen20') Jingling Jin
      li: a(href='https://github.com/yuefang323') Fang Yue
      li: a(href='https://github.com/Kxvin1') Kevin Bartolome
     

