extends layout.pug

block content
    h1 `#{username}'s Watch List`
    table
        thead
            tr
                th.watchColor
                th Image
                th Movie Title
                th Genre
                th Watch Status
                th.buttons
                th.edit.hidden
        tbody
            each movie in planToWatchMoviesShelf
                tr
                    td.planToWatchColor
                    td
                        img(src=movie.image)
                    td= movie.title
                    td= genres[movie.genreId - 1].genre
                    td= watchStatus[0]
                    td
                        button.edit(id=`${movie.id}` type='button' name='editBtn') Edit
                        button.delete(type='button' name='deleteBtn') Delete
                    td.dropdown.hidden(id=`select-${movie.id}`)
                        select(name="watchStatus" value='Plan to Watch')
                            option(name='Plan to Watch' value='Plan to Watch') Plan to Watch
                            option(name='Watching' value='Watching') Watching
                            option(name='Have Watched' value='Have Watched') Have Watched
            each movie in watchingMoviesShelf
                tr
                    td.watchingColor
                    td
                        img(src=movie.image)
                    td= movie.title
                    td= genres[movie.genreId - 1].genre
                    td= watchStatus[0]
                    td
                        button.edit(id=`${movie.id}` type='button' name='editBtn') Edit
                        button(type='button' name='deleteBtn') Delete
                    td.dropdown.hidden(id=`select-${movie.id}`)
                        select(name="watchStatus" value='Plan to Watch')
                            option(name='Plan to Watch' value='Plan to Watch') Plan to Watch
                            option(name='Watching' value='Watching') Watching
                            option(name='Have Watched' value='Have Watched') Have Watched
            each movie in haveWatchedMoviesShelf
                tr
                    td.haveWatchedColor
                    td
                        img(src=movie.image)
                    td= movie.title
                    td= genres[movie.genreId - 1].genre
                    td= watchStatus[0]
                    td
                        button.edit(id=`${movie.id}` type='button' name='editBtn') Edit
                        button(type='button' name='deleteBtn') Delete
                    td.dropdown.hidden(id=`select-${movie.id}`)
                        select(name="watchStatus" value='Plan to Watch')
                            option(name='Plan to Watch' value='Plan to Watch') Plan to Watch
                            option(name='Watching' value='Watching') Watching
                            option(name='Have Watched' value='Have Watched') Have Watched
    script(src="/javascripts/watchlists.js")
